<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish7_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{0,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{99,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{198,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{297,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{396,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{495,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{594,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{693,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{792,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{891,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{990,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{1089,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{1188,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{1287,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{1386,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{1485,0},{99,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish7.png</string>
            <key>size</key>
            <string>{1584,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3abdfa45f56e357d90bfd588b0f2caa9:20c15bd878cec871fa3a358ac57b1a0d:e1d69afd8a12d672623181966961c751$</string>
            <key>textureFileName</key>
            <string>fish7.png</string>
        </dict>
    </dict>
</plist>
