<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish12_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,98}</string>
                <key>textureRect</key>
                <string>{{0,0},{256,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,98}</string>
                <key>textureRect</key>
                <string>{{0,98},{256,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,98}</string>
                <key>textureRect</key>
                <string>{{0,196},{256,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,98}</string>
                <key>textureRect</key>
                <string>{{0,294},{256,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,98}</string>
                <key>textureRect</key>
                <string>{{0,392},{256,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,98}</string>
                <key>textureRect</key>
                <string>{{0,490},{256,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,98}</string>
                <key>textureRect</key>
                <string>{{0,588},{256,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,98}</string>
                <key>textureRect</key>
                <string>{{0,686},{256,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,98}</string>
                <key>textureRect</key>
                <string>{{0,784},{256,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,98}</string>
                <key>textureRect</key>
                <string>{{0,882},{256,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,98}</string>
                <key>textureRect</key>
                <string>{{0,980},{256,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,98}</string>
                <key>textureRect</key>
                <string>{{0,1078},{256,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish12.png</string>
            <key>size</key>
            <string>{256,1176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6922b2ea8149989b06c179eff3293fb2:145e02e4cf32c29d40cea01372480e0f:ea223ae0e7c853660f8192570bae73aa$</string>
            <key>textureFileName</key>
            <string>fish12.png</string>
        </dict>
    </dict>
</plist>
