<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish16_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{0,0},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{406,0},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{0,197},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{406,197},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{0,394},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{406,394},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{0,591},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{406,591},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{0,788},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{406,788},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{0,985},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{406,985},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish16.png</string>
            <key>size</key>
            <string>{812,1182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:867898265e855d5f2ebbeade7c03c5d0:be5d375fdae6a95fa3852f3eb71b01c6:d2c3fbf0d2a7bf7c32974aaa318e8ba4$</string>
            <key>textureFileName</key>
            <string>fish16.png</string>
        </dict>
    </dict>
</plist>
