<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish15_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{0,0},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{406,0},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{0,197},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{406,197},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{0,394},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{406,394},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{0,591},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{406,591},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{0,788},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{406,788},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{0,985},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,197}</string>
                <key>spriteSourceSize</key>
                <string>{406,197}</string>
                <key>textureRect</key>
                <string>{{406,985},{406,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish15.png</string>
            <key>size</key>
            <string>{812,1182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9207858f6902609f63a6057277c9baf0:d22f98107e0b0c580786c1f909c08e4a:c065125437a6ec0ea637ce3e58baaf06$</string>
            <key>textureFileName</key>
            <string>fish15.png</string>
        </dict>
    </dict>
</plist>
