<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish19_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{500,0},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{1000,0},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{1500,0},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{0,211},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{500,211},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{1000,211},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{1500,211},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish19.png</string>
            <key>size</key>
            <string>{2000,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99f475acb9acfbaf9fe99fd2fc121194:cb02bb9d9b36579014c3bfbdf82a1a77:b785f67ae0c40437b59ad7e860279e53$</string>
            <key>textureFileName</key>
            <string>fish19.png</string>
        </dict>
    </dict>
</plist>
