<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish8_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,0},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,98},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,98},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,196},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,196},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,294},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,294},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,392},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,392},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,490},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,490},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,588},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,588},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,686},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,686},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,784},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,784},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,882},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,882},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,980},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,980},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,1078},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,1078},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,1176},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,1176},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,1274},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,1274},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,1372},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{110,1372},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{0,1470},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish8.png</string>
            <key>size</key>
            <string>{220,1568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:819e207fe35cec948cdba27bdb291280:c7a1f9504e6e25af0e2c2e6f7ff41b0a:09c34b7262caf05c834f0282eb0a1152$</string>
            <key>textureFileName</key>
            <string>fish8.png</string>
        </dict>
    </dict>
</plist>
