<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish10_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,128}</string>
                <key>textureRect</key>
                <string>{{124,0},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,128}</string>
                <key>textureRect</key>
                <string>{{248,0},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,128}</string>
                <key>textureRect</key>
                <string>{{372,0},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,128}</string>
                <key>textureRect</key>
                <string>{{496,0},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,128}</string>
                <key>textureRect</key>
                <string>{{620,0},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,128}</string>
                <key>textureRect</key>
                <string>{{744,0},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish10.png</string>
            <key>size</key>
            <string>{868,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06c771eab6acb3087ca5c4204f417488:f64cc7adb07dd0ab5b200ef08573e575:93302a3ee37615c593aef099dbd7c22a$</string>
            <key>textureFileName</key>
            <string>fish10.png</string>
        </dict>
    </dict>
</plist>
