<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish5_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{105,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{105,0},{105,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{210,0},{105,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{315,0},{105,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{420,0},{105,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{525,0},{105,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{630,0},{105,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{735,0},{105,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{840,0},{105,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{945,0},{105,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{1050,0},{105,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{1155,0},{105,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish5.png</string>
            <key>size</key>
            <string>{1260,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0058da02f8387b006818156601bfca1f:95d5909bd3f499961f6dc0df12a201c2:90ebd69d0d0bc3e1d337cb9ed1357ec7$</string>
            <key>textureFileName</key>
            <string>fish5.png</string>
        </dict>
    </dict>
</plist>
