<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish23_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{0,0},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{214,0},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{428,0},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{642,0},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{856,0},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{1070,0},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{1284,0},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{1498,0},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{1712,0},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{0,201},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{214,201},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{428,201},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{642,201},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{856,201},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{1070,201},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{1284,201},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{1498,201},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{214,201}</string>
                <key>textureRect</key>
                <string>{{1712,201},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish23.png</string>
            <key>size</key>
            <string>{1926,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c97e05fba2e40122442bfd04b0a12417:020db3128cbd68cb88f8f6e402af27ce:94305ea5dd52a3cf0c2e9ef07ce7cfef$</string>
            <key>textureFileName</key>
            <string>fish23.png</string>
        </dict>
    </dict>
</plist>
