<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish21_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{0,0},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{190,0},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{380,0},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{570,0},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{760,0},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{950,0},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{1140,0},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{1330,0},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{0,311},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{190,311},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{380,311},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{570,311},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{760,311},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{950,311},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{1140,311},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{1330,311},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{0,622},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{190,622},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{380,622},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{570,622},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{760,622},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{950,622},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{1140,622},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{1330,622},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{0,933},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{190,933},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{380,933},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{570,933},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{760,933},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{950,933},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{1140,933},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,311}</string>
                <key>spriteSourceSize</key>
                <string>{190,311}</string>
                <key>textureRect</key>
                <string>{{1330,933},{190,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish21.png</string>
            <key>size</key>
            <string>{1520,1244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:768052230a81157efff2a1bf0280f2d0:263fcc125ad18b34c8732fc6b660aa54:1c58e4aada10eddecbb8ccae785bed33$</string>
            <key>textureFileName</key>
            <string>fish21.png</string>
        </dict>
    </dict>
</plist>
