<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish11_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{194,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,90}</string>
                <key>textureRect</key>
                <string>{{194,0},{194,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,90}</string>
                <key>textureRect</key>
                <string>{{388,0},{194,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,90}</string>
                <key>textureRect</key>
                <string>{{582,0},{194,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,90}</string>
                <key>textureRect</key>
                <string>{{776,0},{194,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,90}</string>
                <key>textureRect</key>
                <string>{{970,0},{194,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,90}</string>
                <key>textureRect</key>
                <string>{{1164,0},{194,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,90}</string>
                <key>textureRect</key>
                <string>{{1358,0},{194,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,90}</string>
                <key>textureRect</key>
                <string>{{1552,0},{194,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,90}</string>
                <key>textureRect</key>
                <string>{{1746,0},{194,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish11.png</string>
            <key>size</key>
            <string>{1940,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:117df7ff70c34459421ba2820fd5bde3:6dbd19f38538e303b9dfe3a36365f0c6:95b5d1070c827ab0fa8d8e77cab14f64$</string>
            <key>textureFileName</key>
            <string>fish11.png</string>
        </dict>
    </dict>
</plist>
