<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish6_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{108,0},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{216,0},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{324,0},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{432,0},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{540,0},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{648,0},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{756,0},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{864,0},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{972,0},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{1080,0},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{1188,0},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish6.png</string>
            <key>size</key>
            <string>{1296,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c392ea08f5e4facb77b68a6e486042d7:7ec56cec186d15c17f59b272f2a06505:ca48f82caf02d3e784b52857dcd6c471$</string>
            <key>textureFileName</key>
            <string>fish6.png</string>
        </dict>
    </dict>
</plist>
