<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish13_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,253}</string>
                <key>spriteSourceSize</key>
                <string>{213,253}</string>
                <key>textureRect</key>
                <string>{{0,0},{213,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,253}</string>
                <key>spriteSourceSize</key>
                <string>{213,253}</string>
                <key>textureRect</key>
                <string>{{213,0},{213,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,253}</string>
                <key>spriteSourceSize</key>
                <string>{213,253}</string>
                <key>textureRect</key>
                <string>{{0,253},{213,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,253}</string>
                <key>spriteSourceSize</key>
                <string>{213,253}</string>
                <key>textureRect</key>
                <string>{{213,253},{213,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,253}</string>
                <key>spriteSourceSize</key>
                <string>{213,253}</string>
                <key>textureRect</key>
                <string>{{0,506},{213,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,253}</string>
                <key>spriteSourceSize</key>
                <string>{213,253}</string>
                <key>textureRect</key>
                <string>{{213,506},{213,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,253}</string>
                <key>spriteSourceSize</key>
                <string>{213,253}</string>
                <key>textureRect</key>
                <string>{{0,759},{213,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,253}</string>
                <key>spriteSourceSize</key>
                <string>{213,253}</string>
                <key>textureRect</key>
                <string>{{213,759},{213,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,253}</string>
                <key>spriteSourceSize</key>
                <string>{213,253}</string>
                <key>textureRect</key>
                <string>{{0,1012},{213,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,253}</string>
                <key>spriteSourceSize</key>
                <string>{213,253}</string>
                <key>textureRect</key>
                <string>{{213,1012},{213,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish13.png</string>
            <key>size</key>
            <string>{426,1265}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c602e1729e9d082c217f6b8ba9ca56c:7fec6483192a8314fd2c9ca3545932bc:a833a03b0e574b955812b1528efeab52$</string>
            <key>textureFileName</key>
            <string>fish13.png</string>
        </dict>
    </dict>
</plist>
