<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish17_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{0,0},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{484,0},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{968,0},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{1452,0},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{0,224},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{484,224},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{968,224},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{1452,224},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{0,448},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{484,448},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{968,448},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{1452,448},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{0,672},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{484,672},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{968,672},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{1452,672},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish17.png</string>
            <key>size</key>
            <string>{1936,896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e5fc736bcb62257bbb5472e13c5ae3b:0efd553b4bae07981bd736cfb3e0f59a:ebe65095414f9a69d45d0be1bd8d76fb$</string>
            <key>textureFileName</key>
            <string>fish17.png</string>
        </dict>
    </dict>
</plist>
