<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish18_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{500,0},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{1000,0},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{1500,0},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{0,211},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{500,211},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{1000,211},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,211}</string>
                <key>spriteSourceSize</key>
                <string>{500,211}</string>
                <key>textureRect</key>
                <string>{{1500,211},{500,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish18.png</string>
            <key>size</key>
            <string>{2000,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fd1668d873a433abda5cc2d7ee886c1:34d5bc580137e4cb1ab288c8b86ec1ef:d5775260ac6f16430a513952a7dbd9be$</string>
            <key>textureFileName</key>
            <string>fish18.png</string>
        </dict>
    </dict>
</plist>
