<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish8_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,65}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,65}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{140,0},{140,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,65}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{280,0},{140,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,65}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{420,0},{140,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,65}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{560,0},{140,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,65}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{700,0},{140,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,65}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{840,0},{140,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish8.png</string>
            <key>size</key>
            <string>{980,65}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d667f7a12e594521943a89bcd86fa1d0:86d997f4864f83504aaa2d041cdc25f3:09c34b7262caf05c834f0282eb0a1152$</string>
            <key>textureFileName</key>
            <string>fish8.png</string>
        </dict>
    </dict>
</plist>
