<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish11_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,145}</string>
                <key>spriteSourceSize</key>
                <string>{150,145}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,145}</string>
                <key>spriteSourceSize</key>
                <string>{150,145}</string>
                <key>textureRect</key>
                <string>{{150,0},{150,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,145}</string>
                <key>spriteSourceSize</key>
                <string>{150,145}</string>
                <key>textureRect</key>
                <string>{{300,0},{150,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,145}</string>
                <key>spriteSourceSize</key>
                <string>{150,145}</string>
                <key>textureRect</key>
                <string>{{0,145},{150,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,145}</string>
                <key>spriteSourceSize</key>
                <string>{150,145}</string>
                <key>textureRect</key>
                <string>{{150,145},{150,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,145}</string>
                <key>spriteSourceSize</key>
                <string>{150,145}</string>
                <key>textureRect</key>
                <string>{{300,145},{150,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,145}</string>
                <key>spriteSourceSize</key>
                <string>{150,145}</string>
                <key>textureRect</key>
                <string>{{0,290},{150,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,145}</string>
                <key>spriteSourceSize</key>
                <string>{150,145}</string>
                <key>textureRect</key>
                <string>{{150,290},{150,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish11.png</string>
            <key>size</key>
            <string>{450,435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ff7343996cf6a43c2745aa54156578a:f5f64744617e899fc28221a955ee166f:95b5d1070c827ab0fa8d8e77cab14f64$</string>
            <key>textureFileName</key>
            <string>fish11.png</string>
        </dict>
    </dict>
</plist>
