<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish6_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{0,140},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{0,280},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{0,420},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{0,560},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{0,700},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{0,840},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{0,980},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{0,1120},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{0,1260},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{0,1400},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish6.png</string>
            <key>size</key>
            <string>{100,1540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f9fec0336c49002e4b5da92b493cd61:b5240726cc200fd681fe7318b46c832c:ca48f82caf02d3e784b52857dcd6c471$</string>
            <key>textureFileName</key>
            <string>fish6.png</string>
        </dict>
    </dict>
</plist>
