<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish21_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,385}</string>
                <key>spriteSourceSize</key>
                <string>{680,385}</string>
                <key>textureRect</key>
                <string>{{0,0},{680,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,385}</string>
                <key>spriteSourceSize</key>
                <string>{680,385}</string>
                <key>textureRect</key>
                <string>{{680,0},{680,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,385}</string>
                <key>spriteSourceSize</key>
                <string>{680,385}</string>
                <key>textureRect</key>
                <string>{{1360,0},{680,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,385}</string>
                <key>spriteSourceSize</key>
                <string>{680,385}</string>
                <key>textureRect</key>
                <string>{{0,385},{680,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,385}</string>
                <key>spriteSourceSize</key>
                <string>{680,385}</string>
                <key>textureRect</key>
                <string>{{680,385},{680,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,385}</string>
                <key>spriteSourceSize</key>
                <string>{680,385}</string>
                <key>textureRect</key>
                <string>{{1360,385},{680,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,385}</string>
                <key>spriteSourceSize</key>
                <string>{680,385}</string>
                <key>textureRect</key>
                <string>{{0,770},{680,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,385}</string>
                <key>spriteSourceSize</key>
                <string>{680,385}</string>
                <key>textureRect</key>
                <string>{{680,770},{680,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,385}</string>
                <key>spriteSourceSize</key>
                <string>{680,385}</string>
                <key>textureRect</key>
                <string>{{1360,770},{680,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish21.png</string>
            <key>size</key>
            <string>{2040,1155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:579cafcdea3c981baae860dc26a5a301:7a8b3eda41b30cb8c4036efb5f7ee97b:1c58e4aada10eddecbb8ccae785bed33$</string>
            <key>textureFileName</key>
            <string>fish21.png</string>
        </dict>
    </dict>
</plist>
