<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish43_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,485}</string>
                <key>spriteSourceSize</key>
                <string>{423,485}</string>
                <key>textureRect</key>
                <string>{{423,485},{423,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,485}</string>
                <key>spriteSourceSize</key>
                <string>{422,485}</string>
                <key>textureRect</key>
                <string>{{422,0},{422,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,485}</string>
                <key>spriteSourceSize</key>
                <string>{424,485}</string>
                <key>textureRect</key>
                <string>{{847,970},{424,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,485}</string>
                <key>spriteSourceSize</key>
                <string>{423,485}</string>
                <key>textureRect</key>
                <string>{{0,970},{423,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,485}</string>
                <key>spriteSourceSize</key>
                <string>{423,485}</string>
                <key>textureRect</key>
                <string>{{846,485},{423,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,485}</string>
                <key>spriteSourceSize</key>
                <string>{423,485}</string>
                <key>textureRect</key>
                <string>{{0,485},{423,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,485}</string>
                <key>spriteSourceSize</key>
                <string>{422,485}</string>
                <key>textureRect</key>
                <string>{{0,0},{422,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,485}</string>
                <key>spriteSourceSize</key>
                <string>{424,485}</string>
                <key>textureRect</key>
                <string>{{423,970},{424,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,485}</string>
                <key>spriteSourceSize</key>
                <string>{423,485}</string>
                <key>textureRect</key>
                <string>{{844,0},{423,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,485}</string>
                <key>spriteSourceSize</key>
                <string>{423,485}</string>
                <key>textureRect</key>
                <string>{{1267,0},{423,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish43.png</string>
            <key>size</key>
            <string>{1690,1455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:439d371509b1c57d71d172f5dd8cb454:5c6ccfbb92aaa67b0474216fd08b40b6:bbcb2f424c796450a4713638a77803dc$</string>
            <key>textureFileName</key>
            <string>fish43.png</string>
        </dict>
    </dict>
</plist>
