<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish12_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,184}</string>
                <key>spriteSourceSize</key>
                <string>{270,184}</string>
                <key>textureRect</key>
                <string>{{0,0},{270,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,184}</string>
                <key>spriteSourceSize</key>
                <string>{270,184}</string>
                <key>textureRect</key>
                <string>{{0,184},{270,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,184}</string>
                <key>spriteSourceSize</key>
                <string>{270,184}</string>
                <key>textureRect</key>
                <string>{{0,368},{270,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,184}</string>
                <key>spriteSourceSize</key>
                <string>{270,184}</string>
                <key>textureRect</key>
                <string>{{0,552},{270,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,184}</string>
                <key>spriteSourceSize</key>
                <string>{270,184}</string>
                <key>textureRect</key>
                <string>{{0,736},{270,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,184}</string>
                <key>spriteSourceSize</key>
                <string>{270,184}</string>
                <key>textureRect</key>
                <string>{{0,920},{270,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,184}</string>
                <key>spriteSourceSize</key>
                <string>{270,184}</string>
                <key>textureRect</key>
                <string>{{0,1104},{270,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,184}</string>
                <key>spriteSourceSize</key>
                <string>{270,184}</string>
                <key>textureRect</key>
                <string>{{0,1288},{270,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish12.png</string>
            <key>size</key>
            <string>{270,1472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cc6c6d2963a94eb59e8cc425492d7b5:d49833c7729cac04b7688a6f4fe0915a:ea223ae0e7c853660f8192570bae73aa$</string>
            <key>textureFileName</key>
            <string>fish12.png</string>
        </dict>
    </dict>
</plist>
