<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{140,0},{70,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{210,0},{70,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{280,0},{70,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{350,0},{70,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{420,0},{70,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{490,0},{70,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish2.png</string>
            <key>size</key>
            <string>{560,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad12471629003cc4a5073a1b2b51e064:3db63adfdc28ad241a9ed10d4b755c8a:18d6e4b02826357f29e30fc69e5f3b7c$</string>
            <key>textureFileName</key>
            <string>fish2.png</string>
        </dict>
    </dict>
</plist>
