<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish44_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,124}</string>
                <key>spriteSourceSize</key>
                <string>{416,124}</string>
                <key>textureRect</key>
                <string>{{0,0},{416,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,124}</string>
                <key>spriteSourceSize</key>
                <string>{416,124}</string>
                <key>textureRect</key>
                <string>{{0,124},{416,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,124}</string>
                <key>spriteSourceSize</key>
                <string>{416,124}</string>
                <key>textureRect</key>
                <string>{{0,248},{416,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,124}</string>
                <key>spriteSourceSize</key>
                <string>{416,124}</string>
                <key>textureRect</key>
                <string>{{0,372},{416,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,124}</string>
                <key>spriteSourceSize</key>
                <string>{416,124}</string>
                <key>textureRect</key>
                <string>{{0,496},{416,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,124}</string>
                <key>spriteSourceSize</key>
                <string>{416,124}</string>
                <key>textureRect</key>
                <string>{{0,620},{416,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,124}</string>
                <key>spriteSourceSize</key>
                <string>{416,124}</string>
                <key>textureRect</key>
                <string>{{0,744},{416,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,124}</string>
                <key>spriteSourceSize</key>
                <string>{416,124}</string>
                <key>textureRect</key>
                <string>{{0,868},{416,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,124}</string>
                <key>spriteSourceSize</key>
                <string>{416,124}</string>
                <key>textureRect</key>
                <string>{{0,992},{416,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,124}</string>
                <key>spriteSourceSize</key>
                <string>{416,124}</string>
                <key>textureRect</key>
                <string>{{0,1116},{416,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,124}</string>
                <key>spriteSourceSize</key>
                <string>{416,124}</string>
                <key>textureRect</key>
                <string>{{0,1240},{416,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish44.png</string>
            <key>size</key>
            <string>{416,1364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80b47a9109c0eff6cf8f572dcc33bcd3:c9fae1bed0b4edc6fb58e8b28b7672c4:1d4c3ab3a5f9203231fab1c5b1641c96$</string>
            <key>textureFileName</key>
            <string>fish44.png</string>
        </dict>
    </dict>
</plist>
