<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish42_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,244}</string>
                <key>spriteSourceSize</key>
                <string>{299,244}</string>
                <key>textureRect</key>
                <string>{{0,0},{299,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish42_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,244}</string>
                <key>spriteSourceSize</key>
                <string>{299,244}</string>
                <key>textureRect</key>
                <string>{{0,244},{299,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish42_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,244}</string>
                <key>spriteSourceSize</key>
                <string>{299,244}</string>
                <key>textureRect</key>
                <string>{{0,488},{299,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish42_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,244}</string>
                <key>spriteSourceSize</key>
                <string>{299,244}</string>
                <key>textureRect</key>
                <string>{{0,732},{299,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish42_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,244}</string>
                <key>spriteSourceSize</key>
                <string>{299,244}</string>
                <key>textureRect</key>
                <string>{{0,976},{299,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish42_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,244}</string>
                <key>spriteSourceSize</key>
                <string>{299,244}</string>
                <key>textureRect</key>
                <string>{{0,1220},{299,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish42_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,244}</string>
                <key>spriteSourceSize</key>
                <string>{299,244}</string>
                <key>textureRect</key>
                <string>{{0,1464},{299,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish42_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,244}</string>
                <key>spriteSourceSize</key>
                <string>{299,244}</string>
                <key>textureRect</key>
                <string>{{0,1708},{299,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish42.png</string>
            <key>size</key>
            <string>{299,1952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31af77e34eca58badb9b1f35974a4228:e555ca22241654348fa9ec02ac392a29:e6fc3c024bd480f57465ed9779bf674b$</string>
            <key>textureFileName</key>
            <string>fish42.png</string>
        </dict>
    </dict>
</plist>
