<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish13_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,353}</string>
                <key>spriteSourceSize</key>
                <string>{226,353}</string>
                <key>textureRect</key>
                <string>{{0,0},{226,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,353}</string>
                <key>spriteSourceSize</key>
                <string>{226,353}</string>
                <key>textureRect</key>
                <string>{{226,0},{226,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,353}</string>
                <key>spriteSourceSize</key>
                <string>{226,353}</string>
                <key>textureRect</key>
                <string>{{452,0},{226,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,353}</string>
                <key>spriteSourceSize</key>
                <string>{226,353}</string>
                <key>textureRect</key>
                <string>{{678,0},{226,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,353}</string>
                <key>spriteSourceSize</key>
                <string>{226,353}</string>
                <key>textureRect</key>
                <string>{{0,353},{226,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,353}</string>
                <key>spriteSourceSize</key>
                <string>{226,353}</string>
                <key>textureRect</key>
                <string>{{226,353},{226,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,353}</string>
                <key>spriteSourceSize</key>
                <string>{226,353}</string>
                <key>textureRect</key>
                <string>{{452,353},{226,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,353}</string>
                <key>spriteSourceSize</key>
                <string>{226,353}</string>
                <key>textureRect</key>
                <string>{{678,353},{226,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,353}</string>
                <key>spriteSourceSize</key>
                <string>{226,353}</string>
                <key>textureRect</key>
                <string>{{0,706},{226,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,353}</string>
                <key>spriteSourceSize</key>
                <string>{226,353}</string>
                <key>textureRect</key>
                <string>{{226,706},{226,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,353}</string>
                <key>spriteSourceSize</key>
                <string>{226,353}</string>
                <key>textureRect</key>
                <string>{{452,706},{226,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish13.png</string>
            <key>size</key>
            <string>{904,1059}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31aee6461b78c6a54624eb1573b76efe:d45b1c35660ba1eb39796b00ccd79396:a833a03b0e574b955812b1528efeab52$</string>
            <key>textureFileName</key>
            <string>fish13.png</string>
        </dict>
    </dict>
</plist>
