<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish24_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,144}</string>
                <key>spriteSourceSize</key>
                <string>{256,144}</string>
                <key>textureRect</key>
                <string>{{256,431},{256,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,144}</string>
                <key>spriteSourceSize</key>
                <string>{256,144}</string>
                <key>textureRect</key>
                <string>{{256,719},{256,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,143}</string>
                <key>spriteSourceSize</key>
                <string>{256,143}</string>
                <key>textureRect</key>
                <string>{{0,0},{256,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,144}</string>
                <key>spriteSourceSize</key>
                <string>{256,144}</string>
                <key>textureRect</key>
                <string>{{0,575},{256,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,145}</string>
                <key>spriteSourceSize</key>
                <string>{256,145}</string>
                <key>textureRect</key>
                <string>{{0,863},{256,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,144}</string>
                <key>spriteSourceSize</key>
                <string>{256,144}</string>
                <key>textureRect</key>
                <string>{{256,575},{256,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,144}</string>
                <key>spriteSourceSize</key>
                <string>{256,144}</string>
                <key>textureRect</key>
                <string>{{0,719},{256,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,143}</string>
                <key>spriteSourceSize</key>
                <string>{256,143}</string>
                <key>textureRect</key>
                <string>{{0,143},{256,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,144}</string>
                <key>spriteSourceSize</key>
                <string>{256,144}</string>
                <key>textureRect</key>
                <string>{{256,287},{256,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,145}</string>
                <key>spriteSourceSize</key>
                <string>{256,145}</string>
                <key>textureRect</key>
                <string>{{256,863},{256,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,144}</string>
                <key>spriteSourceSize</key>
                <string>{256,144}</string>
                <key>textureRect</key>
                <string>{{256,143},{256,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,144}</string>
                <key>spriteSourceSize</key>
                <string>{256,144}</string>
                <key>textureRect</key>
                <string>{{0,287},{256,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,143}</string>
                <key>spriteSourceSize</key>
                <string>{256,143}</string>
                <key>textureRect</key>
                <string>{{256,0},{256,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,144}</string>
                <key>spriteSourceSize</key>
                <string>{256,144}</string>
                <key>textureRect</key>
                <string>{{0,431},{256,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,145}</string>
                <key>spriteSourceSize</key>
                <string>{256,145}</string>
                <key>textureRect</key>
                <string>{{0,1008},{256,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish24.png</string>
            <key>size</key>
            <string>{512,1153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cab1114a266e255374b1bbbc2dac292f:68bc0a08b8d2074e3aa08704d3941d03:d734f0334f09cce9f6abe07eedb29a8c$</string>
            <key>textureFileName</key>
            <string>fish24.png</string>
        </dict>
    </dict>
</plist>
