<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish16_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{236,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,96}</string>
                <key>textureRect</key>
                <string>{{0,96},{236,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,96}</string>
                <key>textureRect</key>
                <string>{{0,192},{236,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,96}</string>
                <key>textureRect</key>
                <string>{{0,288},{236,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,96}</string>
                <key>textureRect</key>
                <string>{{0,384},{236,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,96}</string>
                <key>textureRect</key>
                <string>{{0,480},{236,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,96}</string>
                <key>textureRect</key>
                <string>{{0,576},{236,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,96}</string>
                <key>textureRect</key>
                <string>{{0,672},{236,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,96}</string>
                <key>textureRect</key>
                <string>{{0,768},{236,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,96}</string>
                <key>textureRect</key>
                <string>{{0,864},{236,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish16.png</string>
            <key>size</key>
            <string>{236,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84ca4b2a3ef4b793b4160eea939b5ccd:49aab212729de847dbf2408abce4ca4d:d2c3fbf0d2a7bf7c32974aaa318e8ba4$</string>
            <key>textureFileName</key>
            <string>fish16.png</string>
        </dict>
    </dict>
</plist>
