<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish5_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{90,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{180,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{270,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{360,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{450,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{540,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{630,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{720,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{810,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{900,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{990,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{1080,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{1170,0},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish5.png</string>
            <key>size</key>
            <string>{1260,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba002c4025f29d11d5d8eab3e8fdadec:a9c71a246e6fe642d75639f4095e444f:90ebd69d0d0bc3e1d337cb9ed1357ec7$</string>
            <key>textureFileName</key>
            <string>fish5.png</string>
        </dict>
    </dict>
</plist>
