<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish18_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,273}</string>
                <key>spriteSourceSize</key>
                <string>{420,273}</string>
                <key>textureRect</key>
                <string>{{0,0},{420,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,273}</string>
                <key>spriteSourceSize</key>
                <string>{420,273}</string>
                <key>textureRect</key>
                <string>{{420,0},{420,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,273}</string>
                <key>spriteSourceSize</key>
                <string>{420,273}</string>
                <key>textureRect</key>
                <string>{{840,0},{420,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,273}</string>
                <key>spriteSourceSize</key>
                <string>{420,273}</string>
                <key>textureRect</key>
                <string>{{1260,0},{420,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,273}</string>
                <key>spriteSourceSize</key>
                <string>{420,273}</string>
                <key>textureRect</key>
                <string>{{0,273},{420,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,273}</string>
                <key>spriteSourceSize</key>
                <string>{420,273}</string>
                <key>textureRect</key>
                <string>{{420,273},{420,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,273}</string>
                <key>spriteSourceSize</key>
                <string>{420,273}</string>
                <key>textureRect</key>
                <string>{{840,273},{420,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,273}</string>
                <key>spriteSourceSize</key>
                <string>{420,273}</string>
                <key>textureRect</key>
                <string>{{1260,273},{420,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,273}</string>
                <key>spriteSourceSize</key>
                <string>{420,273}</string>
                <key>textureRect</key>
                <string>{{0,546},{420,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,273}</string>
                <key>spriteSourceSize</key>
                <string>{420,273}</string>
                <key>textureRect</key>
                <string>{{420,546},{420,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,273}</string>
                <key>spriteSourceSize</key>
                <string>{420,273}</string>
                <key>textureRect</key>
                <string>{{840,546},{420,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish18.png</string>
            <key>size</key>
            <string>{1680,819}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2a29759041e0cac3c32c1073ac0b38b:238f2761ef1d20a60317d2b0e18e20c6:d5775260ac6f16430a513952a7dbd9be$</string>
            <key>textureFileName</key>
            <string>fish18.png</string>
        </dict>
    </dict>
</plist>
