<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,67}</string>
                <key>spriteSourceSize</key>
                <string>{90,67}</string>
                <key>textureRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,67}</string>
                <key>spriteSourceSize</key>
                <string>{90,67}</string>
                <key>textureRect</key>
                <string>{{90,0},{90,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,67}</string>
                <key>spriteSourceSize</key>
                <string>{90,67}</string>
                <key>textureRect</key>
                <string>{{180,0},{90,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,67}</string>
                <key>spriteSourceSize</key>
                <string>{90,67}</string>
                <key>textureRect</key>
                <string>{{270,0},{90,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,67}</string>
                <key>spriteSourceSize</key>
                <string>{90,67}</string>
                <key>textureRect</key>
                <string>{{360,0},{90,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,67}</string>
                <key>spriteSourceSize</key>
                <string>{90,67}</string>
                <key>textureRect</key>
                <string>{{450,0},{90,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,67}</string>
                <key>spriteSourceSize</key>
                <string>{90,67}</string>
                <key>textureRect</key>
                <string>{{540,0},{90,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,67}</string>
                <key>spriteSourceSize</key>
                <string>{90,67}</string>
                <key>textureRect</key>
                <string>{{630,0},{90,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,67}</string>
                <key>spriteSourceSize</key>
                <string>{90,67}</string>
                <key>textureRect</key>
                <string>{{720,0},{90,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish3.png</string>
            <key>size</key>
            <string>{810,67}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed13000afe19e6daf3c3cc19c91d5f45:aaa054eee402d04be3f6287f475bce90:a36c9df18be8b30dd0e2d2f93ccbc985$</string>
            <key>textureFileName</key>
            <string>fish3.png</string>
        </dict>
    </dict>
</plist>
