<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish7_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,0},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,58},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,58},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,116},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,116},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,174},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,174},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,232},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,232},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,290},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,290},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,348},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,348},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,406},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,406},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,464},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,464},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,522},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,522},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,580},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,580},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,638},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,638},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,696},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,696},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,754},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,754},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,812},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,812},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,870},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,870},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,928},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,928},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,986},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,986},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,1044},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,1044},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,1102},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,1102},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,1160},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,1160},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,1218},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,1218},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,1276},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,1276},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,1334},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,1334},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,1392},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,1392},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,1450},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,1450},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,1508},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,1508},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,1566},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,1566},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,1624},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,1624},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{0,1682},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{120,1682},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish7.png</string>
            <key>size</key>
            <string>{240,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3434f11ba0172f648073520b4684c9b:505414f7e8b2a0e1ca1d1be2ed865457:e1d69afd8a12d672623181966961c751$</string>
            <key>textureFileName</key>
            <string>fish7.png</string>
        </dict>
    </dict>
</plist>
