<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{78,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{156,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{234,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{312,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{390,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{468,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{546,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{624,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{702,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{780,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{858,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{936,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{1014,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{1092,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{1170,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{1248,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{1326,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{1404,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{1482,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{1560,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{1638,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{1716,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{1794,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish3.png</string>
            <key>size</key>
            <string>{1872,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38f484bc96ef2c0f879821b3daf32103:e945affdfcea14ee413ca1e4a593d3fa:a36c9df18be8b30dd0e2d2f93ccbc985$</string>
            <key>textureFileName</key>
            <string>fish3.png</string>
        </dict>
    </dict>
</plist>
