<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{54,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{108,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{162,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{216,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{270,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{324,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{378,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{432,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{486,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{540,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{594,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{648,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{702,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{756,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{810,0},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish2.png</string>
            <key>size</key>
            <string>{864,24}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3dd8380138a6914c2d2f33704d1e711:62df60997633fdfb0d193c2159849bcb:18d6e4b02826357f29e30fc69e5f3b7c$</string>
            <key>textureFileName</key>
            <string>fish2.png</string>
        </dict>
    </dict>
</plist>
