<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish4_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,64},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,128},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,192},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,256},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,320},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,384},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,448},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,512},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,576},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,640},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,704},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,768},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,832},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,896},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,960},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,1024},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,1088},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,1152},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,1216},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,1280},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,1344},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,1408},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,1472},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish4.png</string>
            <key>size</key>
            <string>{100,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f6bc49c0c6b86f7276fae33d421de6f:5ff784c5355c1004649b63a9dca133b0:2af43c67d0c2319006d263334dca0639$</string>
            <key>textureFileName</key>
            <string>fish4.png</string>
        </dict>
    </dict>
</plist>
