<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish6_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,72},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,144},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,216},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,288},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,360},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,432},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,504},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,576},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,648},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,720},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,792},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,864},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,936},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,1008},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,1080},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,1152},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,1224},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,1296},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,1368},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,1440},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,1512},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,1584},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,1656},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,72}</string>
                <key>textureRect</key>
                <string>{{0,1728},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish6.png</string>
            <key>size</key>
            <string>{105,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1b81607845b34c790f297ab2bd5a1b4:fe751d61d0d64f198a763773c23d2416:ca48f82caf02d3e784b52857dcd6c471$</string>
            <key>textureFileName</key>
            <string>fish6.png</string>
        </dict>
    </dict>
</plist>
