<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish22_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{180,0},{180,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{360,0},{180,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{540,0},{180,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{720,0},{180,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{900,0},{180,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish22.png</string>
            <key>size</key>
            <string>{1080,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5458a4ff537e3c476b5764e2a6c1898b:ba06ac4e8f82328268c7aea5911276ed:86df722dd1cd1c369adc9cd3c987ec75$</string>
            <key>textureFileName</key>
            <string>fish22.png</string>
        </dict>
    </dict>
</plist>
