<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish10_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{0,0},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{135,0},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{270,0},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{0,145},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{135,145},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{270,145},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{0,290},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{135,290},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{270,290},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{0,435},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{135,435},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{270,435},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{0,580},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{135,580},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{270,580},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{0,725},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish10.png</string>
            <key>size</key>
            <string>{405,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5251601d6c605aa21ec93e42f0c60d40:0d2af9fc2d06b8288b52b9b6ef930181:93302a3ee37615c593aef099dbd7c22a$</string>
            <key>textureFileName</key>
            <string>fish10.png</string>
        </dict>
    </dict>
</plist>
