<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish21_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,258}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{0,0},{250,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,258}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{0,258},{250,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,258}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{0,516},{250,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,258}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{0,774},{250,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish21.png</string>
            <key>size</key>
            <string>{250,1032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5db79bfeed1416c1cd3a311c69bfdfd7:b30596fbfd2cd7e4a3fd234819d4ee3b:1c58e4aada10eddecbb8ccae785bed33$</string>
            <key>textureFileName</key>
            <string>fish21.png</string>
        </dict>
    </dict>
</plist>
