<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish13_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{220,0},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{0,88},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{220,88},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{0,176},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{220,176},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{0,264},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{220,264},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{0,352},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{220,352},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{0,440},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{220,440},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{0,528},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{220,528},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{0,616},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{220,616},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{0,704},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{220,704},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{0,792},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{220,792},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{0,880},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{220,880},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{0,968},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{220,968},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish13.png</string>
            <key>size</key>
            <string>{440,1056}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e873ce919e01a38cf64f4b422514b146:607df78268cd47ae0bfc2eee8129ef7b:a833a03b0e574b955812b1528efeab52$</string>
            <key>textureFileName</key>
            <string>fish13.png</string>
        </dict>
    </dict>
</plist>
