<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish18_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{0,0},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{570,0},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{1140,0},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{0,270},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{570,270},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{1140,270},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{0,540},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{570,540},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{1140,540},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{0,810},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{570,810},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{1140,810},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{0,1080},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{570,1080},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{1140,1080},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{0,1350},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish18.png</string>
            <key>size</key>
            <string>{1710,1620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:789b0b8c74f8fb0959d709113d396f86:4d725f6601c9b467c35f81e419836661:d5775260ac6f16430a513952a7dbd9be$</string>
            <key>textureFileName</key>
            <string>fish18.png</string>
        </dict>
    </dict>
</plist>
