<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish17_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{900,0},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1200,0},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1500,0},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{0,140},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{300,140},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{600,140},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{900,140},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1200,140},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1500,140},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{0,280},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{300,280},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{600,280},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{900,280},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1200,280},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1500,280},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{0,420},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{300,420},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{600,420},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{900,420},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1200,420},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1500,420},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish17.png</string>
            <key>size</key>
            <string>{1800,560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6059e4c3688ef2bd0bf88c6fcdc700fb:311dc7dda92c7d3a8fd0345c19279c4a:ebe65095414f9a69d45d0be1bd8d76fb$</string>
            <key>textureFileName</key>
            <string>fish17.png</string>
        </dict>
    </dict>
</plist>
