<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish20_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,277}</string>
                <key>spriteSourceSize</key>
                <string>{484,277}</string>
                <key>textureRect</key>
                <string>{{0,0},{484,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,277}</string>
                <key>spriteSourceSize</key>
                <string>{484,277}</string>
                <key>textureRect</key>
                <string>{{484,0},{484,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,277}</string>
                <key>spriteSourceSize</key>
                <string>{483,277}</string>
                <key>textureRect</key>
                <string>{{968,0},{483,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,277}</string>
                <key>spriteSourceSize</key>
                <string>{484,277}</string>
                <key>textureRect</key>
                <string>{{1451,0},{484,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,277}</string>
                <key>spriteSourceSize</key>
                <string>{484,277}</string>
                <key>textureRect</key>
                <string>{{0,277},{484,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,277}</string>
                <key>spriteSourceSize</key>
                <string>{484,277}</string>
                <key>textureRect</key>
                <string>{{484,277},{484,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,277}</string>
                <key>spriteSourceSize</key>
                <string>{483,277}</string>
                <key>textureRect</key>
                <string>{{968,277},{483,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,277}</string>
                <key>spriteSourceSize</key>
                <string>{484,277}</string>
                <key>textureRect</key>
                <string>{{1451,277},{484,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,277}</string>
                <key>spriteSourceSize</key>
                <string>{484,277}</string>
                <key>textureRect</key>
                <string>{{0,554},{484,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,277}</string>
                <key>spriteSourceSize</key>
                <string>{484,277}</string>
                <key>textureRect</key>
                <string>{{484,554},{484,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,277}</string>
                <key>spriteSourceSize</key>
                <string>{483,277}</string>
                <key>textureRect</key>
                <string>{{968,554},{483,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,277}</string>
                <key>spriteSourceSize</key>
                <string>{484,277}</string>
                <key>textureRect</key>
                <string>{{1451,554},{484,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,277}</string>
                <key>spriteSourceSize</key>
                <string>{484,277}</string>
                <key>textureRect</key>
                <string>{{0,831},{484,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,277}</string>
                <key>spriteSourceSize</key>
                <string>{484,277}</string>
                <key>textureRect</key>
                <string>{{484,831},{484,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,277}</string>
                <key>spriteSourceSize</key>
                <string>{483,277}</string>
                <key>textureRect</key>
                <string>{{968,831},{483,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,277}</string>
                <key>spriteSourceSize</key>
                <string>{484,277}</string>
                <key>textureRect</key>
                <string>{{1451,831},{484,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish20.png</string>
            <key>size</key>
            <string>{1935,1108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd7bf864975e5ce08e4788ba060a3d91:6dac6d4b61c48d50e0270366fce425a3:c556f1867a5bbc986e163ecbcdfbbd8a$</string>
            <key>textureFileName</key>
            <string>fish20.png</string>
        </dict>
    </dict>
</plist>
