<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish9_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{0,140},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{200,140},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{0,280},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{200,280},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{0,420},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{200,420},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{0,560},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{200,560},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{0,700},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{200,700},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{0,840},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{200,840},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{0,980},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{200,980},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{0,1120},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{200,1120},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{0,1260},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{200,1260},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{0,1400},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{200,1400},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{0,1540},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish9.png</string>
            <key>size</key>
            <string>{400,1680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:077dc62859a73bdbb23f9d00298e7bd4:fae3f8d5bc91860fa13c062a9bb311a2:ff7482c0f1a9603ba7f5d62e3c2de0e7$</string>
            <key>textureFileName</key>
            <string>fish9.png</string>
        </dict>
    </dict>
</plist>
