<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish8_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{132,0},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{264,0},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{396,0},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{528,0},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{660,0},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{792,0},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{0,74},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{132,74},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{264,74},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{396,74},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{528,74},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{660,74},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{792,74},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{0,148},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{132,148},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{264,148},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{396,148},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{528,148},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{660,148},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish8.png</string>
            <key>size</key>
            <string>{924,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbe0b76a5b8c3b7897b5ce3f279be41a:77c7f05ada553844eb13b4986c67a84b:09c34b7262caf05c834f0282eb0a1152$</string>
            <key>textureFileName</key>
            <string>fish8.png</string>
        </dict>
    </dict>
</plist>
