<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish16_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{900,0},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1200,0},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1500,0},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{0,140},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{300,140},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{600,140},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{900,140},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1200,140},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1500,140},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{0,280},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{300,280},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{600,280},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{900,280},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1200,280},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1500,280},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{0,420},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{300,420},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{600,420},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{900,420},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1200,420},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1500,420},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish16.png</string>
            <key>size</key>
            <string>{1800,560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f446a14ce78f7bc2e464fc354b338689:232108dba98f264bd063ca0ca3e996dd:d2c3fbf0d2a7bf7c32974aaa318e8ba4$</string>
            <key>textureFileName</key>
            <string>fish16.png</string>
        </dict>
    </dict>
</plist>
