<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish12_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{158,164}</string>
                <key>textureRect</key>
                <string>{{0,0},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{158,164}</string>
                <key>textureRect</key>
                <string>{{158,0},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{158,164}</string>
                <key>textureRect</key>
                <string>{{316,0},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{158,164}</string>
                <key>textureRect</key>
                <string>{{474,0},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{158,164}</string>
                <key>textureRect</key>
                <string>{{632,0},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{158,164}</string>
                <key>textureRect</key>
                <string>{{790,0},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{158,164}</string>
                <key>textureRect</key>
                <string>{{948,0},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{158,164}</string>
                <key>textureRect</key>
                <string>{{1106,0},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{158,164}</string>
                <key>textureRect</key>
                <string>{{1264,0},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{158,164}</string>
                <key>textureRect</key>
                <string>{{1422,0},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{158,164}</string>
                <key>textureRect</key>
                <string>{{1580,0},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{158,164}</string>
                <key>textureRect</key>
                <string>{{1738,0},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish12.png</string>
            <key>size</key>
            <string>{1896,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcd676991b9c16a652a271baa9482d63:0378de561c799f4d9de47caf83a65ab8:ea223ae0e7c853660f8192570bae73aa$</string>
            <key>textureFileName</key>
            <string>fish12.png</string>
        </dict>
    </dict>
</plist>
