<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish5_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,45},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,90},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,135},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,180},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,225},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,270},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,315},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,360},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,405},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,450},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,495},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,540},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,585},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,630},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,675},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,720},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,765},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,810},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,855},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,900},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,945},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,990},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,1035},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish5.png</string>
            <key>size</key>
            <string>{124,1080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f24a1fa875ad7b69a19fb4f6b25f082:3333225e59c00c9d43a8164b8ec6d2c6:90ebd69d0d0bc3e1d337cb9ed1357ec7$</string>
            <key>textureFileName</key>
            <string>fish5.png</string>
        </dict>
    </dict>
</plist>
