<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish19_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{0,0},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{570,0},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{1140,0},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{0,270},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{570,270},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{1140,270},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{0,540},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{570,540},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{1140,540},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{0,810},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{570,810},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{1140,810},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{0,1080},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{570,1080},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{1140,1080},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,270}</string>
                <key>spriteSourceSize</key>
                <string>{570,270}</string>
                <key>textureRect</key>
                <string>{{0,1350},{570,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish19.png</string>
            <key>size</key>
            <string>{1710,1620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4248e475f65cdd794a67053c9220797:cde2f17d2a3c35827b860fd0205ed224:b785f67ae0c40437b59ad7e860279e53$</string>
            <key>textureFileName</key>
            <string>fish19.png</string>
        </dict>
    </dict>
</plist>
