<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{140,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{210,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{280,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{350,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{420,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{490,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{560,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{630,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{700,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{770,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish1.png</string>
            <key>size</key>
            <string>{840,24}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5032c25fee13967666473bef904a0c47:08a47ae40d5b0598387ea1cf3d43f298:342b1f1a1a162ded6a285a652e0ccb97$</string>
            <key>textureFileName</key>
            <string>fish1.png</string>
        </dict>
    </dict>
</plist>
