<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish11_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,84},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,168},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,252},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,336},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,420},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,504},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,588},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,672},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,756},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,840},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,924},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,1008},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,1092},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,1176},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,1260},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,1344},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,1428},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,1512},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,1596},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,1680},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,1764},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,1848},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{0,1932},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish11.png</string>
            <key>size</key>
            <string>{190,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed9249d01ddc7a2c2f47848bb4b3e024:f9c3c2981449dc5b6534d512459e8938:95b5d1070c827ab0fa8d8e77cab14f64$</string>
            <key>textureFileName</key>
            <string>fish11.png</string>
        </dict>
    </dict>
</plist>
