<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish9_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{160,0},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{320,0},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{480,0},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{640,0},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{800,0},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{960,0},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{1120,0},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{1280,0},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{1440,0},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{1600,0},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{1760,0},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{0,116},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{160,116},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{320,116},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{480,116},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{640,116},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{800,116},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{960,116},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{1120,116},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{1280,116},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{1440,116},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{1600,116},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish9.png</string>
            <key>size</key>
            <string>{1920,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb7d103b8150b710c0f59a036d3a5107:f7dcab78bd74c30b01cb35c464453597:ff7482c0f1a9603ba7f5d62e3c2de0e7$</string>
            <key>textureFileName</key>
            <string>fish9.png</string>
        </dict>
    </dict>
</plist>
