<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,62},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,124},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,186},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,248},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,310},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,372},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,434},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,496},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,558},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,620},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,682},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,744},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,806},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,868},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{134,62}</string>
                <key>textureRect</key>
                <string>{{0,930},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish2.png</string>
            <key>size</key>
            <string>{134,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ac01e3511b978a3c62b7f64ea5047b5:e0a9a1f335b37701d9dcf5708c7b7bdc:18d6e4b02826357f29e30fc69e5f3b7c$</string>
            <key>textureFileName</key>
            <string>fish2.png</string>
        </dict>
    </dict>
</plist>
