<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish45_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{0,0},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{292,0},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{584,0},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{876,0},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{1168,0},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{1460,0},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{1752,0},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{0,312},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{292,312},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{584,312},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{876,312},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{1168,312},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{1460,312},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{1752,312},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{0,624},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{292,624},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{584,624},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{876,624},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish45_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{292,312}</string>
                <key>textureRect</key>
                <string>{{1168,624},{292,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish45.png</string>
            <key>size</key>
            <string>{2044,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31a3e764e6bbf22eecb85b4941f19393:bd9be8b71f35a06ca8558495a9393f57:534ca736644381e278471ba2d67ed602$</string>
            <key>textureFileName</key>
            <string>fish45.png</string>
        </dict>
    </dict>
</plist>
