<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish8_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{110,0},{110,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{220,0},{110,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{330,0},{110,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{440,0},{110,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{550,0},{110,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{660,0},{110,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{770,0},{110,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{880,0},{110,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{990,0},{110,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{1100,0},{110,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{1210,0},{110,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish8.png</string>
            <key>size</key>
            <string>{1320,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ef7df069051601754738c258601f4b8:cde70fd00733d16eca2b64d537716ed4:09c34b7262caf05c834f0282eb0a1152$</string>
            <key>textureFileName</key>
            <string>fish8.png</string>
        </dict>
    </dict>
</plist>
