<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish21_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,296}</string>
                <key>spriteSourceSize</key>
                <string>{304,296}</string>
                <key>textureRect</key>
                <string>{{0,0},{304,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,296}</string>
                <key>spriteSourceSize</key>
                <string>{304,296}</string>
                <key>textureRect</key>
                <string>{{304,0},{304,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,296}</string>
                <key>spriteSourceSize</key>
                <string>{304,296}</string>
                <key>textureRect</key>
                <string>{{608,0},{304,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,296}</string>
                <key>spriteSourceSize</key>
                <string>{304,296}</string>
                <key>textureRect</key>
                <string>{{0,296},{304,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,299}</string>
                <key>spriteSourceSize</key>
                <string>{304,299}</string>
                <key>textureRect</key>
                <string>{{304,296},{304,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,299}</string>
                <key>spriteSourceSize</key>
                <string>{304,299}</string>
                <key>textureRect</key>
                <string>{{608,296},{304,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,296}</string>
                <key>spriteSourceSize</key>
                <string>{304,296}</string>
                <key>textureRect</key>
                <string>{{0,595},{304,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,296}</string>
                <key>spriteSourceSize</key>
                <string>{304,296}</string>
                <key>textureRect</key>
                <string>{{304,595},{304,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,293}</string>
                <key>spriteSourceSize</key>
                <string>{304,293}</string>
                <key>textureRect</key>
                <string>{{608,595},{304,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish21_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,293}</string>
                <key>spriteSourceSize</key>
                <string>{304,293}</string>
                <key>textureRect</key>
                <string>{{0,891},{304,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish21.png</string>
            <key>size</key>
            <string>{912,1184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73e51c1c945ff198660af79c9a5b1dd6:5be612e50591fea50a3c709c041964fe:1c58e4aada10eddecbb8ccae785bed33$</string>
            <key>textureFileName</key>
            <string>fish21.png</string>
        </dict>
    </dict>
</plist>
