<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish16_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{296,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{0,120},{296,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{0,240},{296,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{0,360},{296,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{0,480},{296,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{0,600},{296,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{0,720},{296,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{0,840},{296,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{0,960},{296,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{0,1080},{296,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{0,1200},{296,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{0,1320},{296,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{0,1440},{296,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish16.png</string>
            <key>size</key>
            <string>{296,1560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2412d43b5ea8dc9cad39d24d143c0f5f:3828a5acffbb3980650a860ac29a52fd:d2c3fbf0d2a7bf7c32974aaa318e8ba4$</string>
            <key>textureFileName</key>
            <string>fish16.png</string>
        </dict>
    </dict>
</plist>
