<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish6_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{98,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{196,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{294,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{392,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{490,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{588,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{686,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{784,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{882,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{980,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{1078,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{1176,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish6.png</string>
            <key>size</key>
            <string>{1274,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a11ec272ec2151086ba656cff7d0767:ba1980e4c551132135d02dc40d114304:ca48f82caf02d3e784b52857dcd6c471$</string>
            <key>textureFileName</key>
            <string>fish6.png</string>
        </dict>
    </dict>
</plist>
