<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish13_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{0,0},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{214,0},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{0,157},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{214,157},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{0,314},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{214,314},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{0,471},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{214,471},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{0,628},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{214,628},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{0,785},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{214,785},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{0,942},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{214,942},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{0,1099},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{214,1099},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{0,1256},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{214,1256},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{0,1413},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{214,1413},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{0,1570},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{214,1570},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{0,1727},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{214,1727},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish13.png</string>
            <key>size</key>
            <string>{428,1884}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1070b83f75fd736ba8dd66797c4473b:1fe7fcb6caa9d40f171acee4dc185ceb:a833a03b0e574b955812b1528efeab52$</string>
            <key>textureFileName</key>
            <string>fish13.png</string>
        </dict>
    </dict>
</plist>
