<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish10_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{0,0},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{105,0},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{0,131},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{105,131},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{0,262},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{105,262},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{0,393},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{105,393},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{0,524},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{105,524},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{0,655},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{105,655},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{0,786},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{105,786},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{0,917},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{105,917},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{0,1048},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{105,1048},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{0,1179},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{105,1179},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish10.png</string>
            <key>size</key>
            <string>{210,1310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa2fbc2d7f660167d48bc890e96abeec:e21845d7a0930b6a8b84045e9ce508cf:93302a3ee37615c593aef099dbd7c22a$</string>
            <key>textureFileName</key>
            <string>fish10.png</string>
        </dict>
    </dict>
</plist>
