<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish18_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,288}</string>
                <key>spriteSourceSize</key>
                <string>{344,288}</string>
                <key>textureRect</key>
                <string>{{0,0},{344,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,288}</string>
                <key>spriteSourceSize</key>
                <string>{344,288}</string>
                <key>textureRect</key>
                <string>{{344,0},{344,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,288}</string>
                <key>spriteSourceSize</key>
                <string>{344,288}</string>
                <key>textureRect</key>
                <string>{{0,288},{344,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,288}</string>
                <key>spriteSourceSize</key>
                <string>{344,288}</string>
                <key>textureRect</key>
                <string>{{344,288},{344,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,288}</string>
                <key>spriteSourceSize</key>
                <string>{344,288}</string>
                <key>textureRect</key>
                <string>{{0,576},{344,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,288}</string>
                <key>spriteSourceSize</key>
                <string>{344,288}</string>
                <key>textureRect</key>
                <string>{{344,576},{344,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,288}</string>
                <key>spriteSourceSize</key>
                <string>{344,288}</string>
                <key>textureRect</key>
                <string>{{0,864},{344,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,288}</string>
                <key>spriteSourceSize</key>
                <string>{344,288}</string>
                <key>textureRect</key>
                <string>{{344,864},{344,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,288}</string>
                <key>spriteSourceSize</key>
                <string>{344,288}</string>
                <key>textureRect</key>
                <string>{{0,1152},{344,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,288}</string>
                <key>spriteSourceSize</key>
                <string>{344,288}</string>
                <key>textureRect</key>
                <string>{{344,1152},{344,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,288}</string>
                <key>spriteSourceSize</key>
                <string>{344,288}</string>
                <key>textureRect</key>
                <string>{{0,1440},{344,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,288}</string>
                <key>spriteSourceSize</key>
                <string>{344,288}</string>
                <key>textureRect</key>
                <string>{{344,1440},{344,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish18_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,288}</string>
                <key>spriteSourceSize</key>
                <string>{344,288}</string>
                <key>textureRect</key>
                <string>{{0,1728},{344,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish18.png</string>
            <key>size</key>
            <string>{688,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2917d81554d4c4b694b4ace90e9b227:d7b04737495765addaef45adf530014c:d5775260ac6f16430a513952a7dbd9be$</string>
            <key>textureFileName</key>
            <string>fish18.png</string>
        </dict>
    </dict>
</plist>
