<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish11_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{0,0},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{121,0},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{0,125},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{121,125},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{0,250},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{121,250},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{0,375},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{121,375},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{0,500},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{121,500},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{0,625},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{121,625},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{0,750},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{121,750},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{0,875},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{121,875},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{0,1000},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{121,1000},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{0,1125},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{121,1125},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{0,1250},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{121,1250},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{0,1375},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish11.png</string>
            <key>size</key>
            <string>{242,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:009fd664b5dc74da3d943bf9422fc3e9:63982138b152270131daca8b9159f906:95b5d1070c827ab0fa8d8e77cab14f64$</string>
            <key>textureFileName</key>
            <string>fish11.png</string>
        </dict>
    </dict>
</plist>
