<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish24_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{176,184}</string>
                <key>textureRect</key>
                <string>{{0,0},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{176,184}</string>
                <key>textureRect</key>
                <string>{{176,0},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{176,184}</string>
                <key>textureRect</key>
                <string>{{352,0},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{176,184}</string>
                <key>textureRect</key>
                <string>{{528,0},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{176,184}</string>
                <key>textureRect</key>
                <string>{{704,0},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{176,184}</string>
                <key>textureRect</key>
                <string>{{880,0},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{176,184}</string>
                <key>textureRect</key>
                <string>{{1056,0},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{176,184}</string>
                <key>textureRect</key>
                <string>{{1232,0},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{176,184}</string>
                <key>textureRect</key>
                <string>{{1408,0},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{176,184}</string>
                <key>textureRect</key>
                <string>{{1584,0},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{176,184}</string>
                <key>textureRect</key>
                <string>{{1760,0},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish24.png</string>
            <key>size</key>
            <string>{1936,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1cae712234a6a36af13b88ac9e2834d:8e348c66b2f9a208f5158886ed4466db:d734f0334f09cce9f6abe07eedb29a8c$</string>
            <key>textureFileName</key>
            <string>fish24.png</string>
        </dict>
    </dict>
</plist>
