<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish43_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{900,0},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{1200,0},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{0,305},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{300,305},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{600,305},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{900,305},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{1200,305},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{0,610},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{300,610},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{600,610},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{900,610},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{1200,610},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{0,915},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{300,915},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{600,915},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish43_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{300,305}</string>
                <key>textureRect</key>
                <string>{{900,915},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish43.png</string>
            <key>size</key>
            <string>{1500,1220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b07957f1972b3e1a59b0a9bb1d13e66:d6dc5447b26001beaaacb34115f82517:bbcb2f424c796450a4713638a77803dc$</string>
            <key>textureFileName</key>
            <string>fish43.png</string>
        </dict>
    </dict>
</plist>
