<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish20_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,422}</string>
                <key>spriteSourceSize</key>
                <string>{395,422}</string>
                <key>textureRect</key>
                <string>{{0,0},{395,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,422}</string>
                <key>spriteSourceSize</key>
                <string>{395,422}</string>
                <key>textureRect</key>
                <string>{{395,0},{395,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,422}</string>
                <key>spriteSourceSize</key>
                <string>{395,422}</string>
                <key>textureRect</key>
                <string>{{790,0},{395,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,422}</string>
                <key>spriteSourceSize</key>
                <string>{395,422}</string>
                <key>textureRect</key>
                <string>{{1185,0},{395,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,422}</string>
                <key>spriteSourceSize</key>
                <string>{395,422}</string>
                <key>textureRect</key>
                <string>{{1580,0},{395,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,422}</string>
                <key>spriteSourceSize</key>
                <string>{395,422}</string>
                <key>textureRect</key>
                <string>{{0,422},{395,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,422}</string>
                <key>spriteSourceSize</key>
                <string>{395,422}</string>
                <key>textureRect</key>
                <string>{{395,422},{395,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,422}</string>
                <key>spriteSourceSize</key>
                <string>{395,422}</string>
                <key>textureRect</key>
                <string>{{790,422},{395,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,422}</string>
                <key>spriteSourceSize</key>
                <string>{395,422}</string>
                <key>textureRect</key>
                <string>{{1185,422},{395,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish20.png</string>
            <key>size</key>
            <string>{1975,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef5611ff4f7099a5bdf9c0dc3db5cb60:6a83a28c257fd015b563c0d6167b3958:c556f1867a5bbc986e163ecbcdfbbd8a$</string>
            <key>textureFileName</key>
            <string>fish20.png</string>
        </dict>
    </dict>
</plist>
