<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish22_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,112}</string>
                <key>spriteSourceSize</key>
                <string>{192,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,112}</string>
                <key>spriteSourceSize</key>
                <string>{193,112}</string>
                <key>textureRect</key>
                <string>{{192,0},{193,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,112}</string>
                <key>spriteSourceSize</key>
                <string>{191,112}</string>
                <key>textureRect</key>
                <string>{{385,0},{191,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,112}</string>
                <key>spriteSourceSize</key>
                <string>{192,112}</string>
                <key>textureRect</key>
                <string>{{576,0},{192,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,112}</string>
                <key>spriteSourceSize</key>
                <string>{192,112}</string>
                <key>textureRect</key>
                <string>{{768,0},{192,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,112}</string>
                <key>spriteSourceSize</key>
                <string>{192,112}</string>
                <key>textureRect</key>
                <string>{{0,112},{192,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,112}</string>
                <key>spriteSourceSize</key>
                <string>{193,112}</string>
                <key>textureRect</key>
                <string>{{192,112},{193,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,112}</string>
                <key>spriteSourceSize</key>
                <string>{191,112}</string>
                <key>textureRect</key>
                <string>{{385,112},{191,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,112}</string>
                <key>spriteSourceSize</key>
                <string>{192,112}</string>
                <key>textureRect</key>
                <string>{{576,112},{192,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,112}</string>
                <key>spriteSourceSize</key>
                <string>{192,112}</string>
                <key>textureRect</key>
                <string>{{768,112},{192,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,112}</string>
                <key>spriteSourceSize</key>
                <string>{192,112}</string>
                <key>textureRect</key>
                <string>{{0,224},{192,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,112}</string>
                <key>spriteSourceSize</key>
                <string>{193,112}</string>
                <key>textureRect</key>
                <string>{{192,224},{193,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,112}</string>
                <key>spriteSourceSize</key>
                <string>{191,112}</string>
                <key>textureRect</key>
                <string>{{385,224},{191,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,112}</string>
                <key>spriteSourceSize</key>
                <string>{192,112}</string>
                <key>textureRect</key>
                <string>{{576,224},{192,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,112}</string>
                <key>spriteSourceSize</key>
                <string>{192,112}</string>
                <key>textureRect</key>
                <string>{{768,224},{192,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish22.png</string>
            <key>size</key>
            <string>{960,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c46a3c841f7c31399d4c217fab92fa3:1420c2e8554a5757a70e368aaeafa55d:86df722dd1cd1c369adc9cd3c987ec75$</string>
            <key>textureFileName</key>
            <string>fish22.png</string>
        </dict>
    </dict>
</plist>
