<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish12_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{0,0},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{189,0},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{378,0},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{567,0},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{756,0},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{945,0},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{1134,0},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{1323,0},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{1512,0},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{1701,0},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{0,97},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{189,97},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{378,97},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{567,97},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{756,97},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{945,97},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{1134,97},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{1323,97},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{1512,97},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,97}</string>
                <key>textureRect</key>
                <string>{{1701,97},{189,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish12.png</string>
            <key>size</key>
            <string>{1890,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83575ef7970d56d3f96ee24e860d8442:6760c2fbfb9d452f20f6c0063aaf62eb:ea223ae0e7c853660f8192570bae73aa$</string>
            <key>textureFileName</key>
            <string>fish12.png</string>
        </dict>
    </dict>
</plist>
