<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,58}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,58}</string>
                <key>textureRect</key>
                <string>{{110,0},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,58}</string>
                <key>textureRect</key>
                <string>{{220,0},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,58}</string>
                <key>textureRect</key>
                <string>{{330,0},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,58}</string>
                <key>textureRect</key>
                <string>{{440,0},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,58}</string>
                <key>textureRect</key>
                <string>{{550,0},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,58}</string>
                <key>textureRect</key>
                <string>{{660,0},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,58}</string>
                <key>textureRect</key>
                <string>{{770,0},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,58}</string>
                <key>textureRect</key>
                <string>{{880,0},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,58}</string>
                <key>textureRect</key>
                <string>{{990,0},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,58}</string>
                <key>textureRect</key>
                <string>{{1100,0},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,58}</string>
                <key>textureRect</key>
                <string>{{1210,0},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish1.png</string>
            <key>size</key>
            <string>{1320,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f5112ebfd3cf88f06cc61d183293fed:22bb44effeb17c283a6383594a499132:342b1f1a1a162ded6a285a652e0ccb97$</string>
            <key>textureFileName</key>
            <string>fish1.png</string>
        </dict>
    </dict>
</plist>
