<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish19_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,216}</string>
                <key>spriteSourceSize</key>
                <string>{328,216}</string>
                <key>textureRect</key>
                <string>{{0,0},{328,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,216}</string>
                <key>spriteSourceSize</key>
                <string>{328,216}</string>
                <key>textureRect</key>
                <string>{{0,216},{328,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,216}</string>
                <key>spriteSourceSize</key>
                <string>{328,216}</string>
                <key>textureRect</key>
                <string>{{0,432},{328,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,216}</string>
                <key>spriteSourceSize</key>
                <string>{328,216}</string>
                <key>textureRect</key>
                <string>{{0,648},{328,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,216}</string>
                <key>spriteSourceSize</key>
                <string>{328,216}</string>
                <key>textureRect</key>
                <string>{{0,864},{328,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,216}</string>
                <key>spriteSourceSize</key>
                <string>{328,216}</string>
                <key>textureRect</key>
                <string>{{0,1080},{328,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,216}</string>
                <key>spriteSourceSize</key>
                <string>{328,216}</string>
                <key>textureRect</key>
                <string>{{0,1296},{328,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish19_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,216}</string>
                <key>spriteSourceSize</key>
                <string>{328,216}</string>
                <key>textureRect</key>
                <string>{{0,1512},{328,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish19.png</string>
            <key>size</key>
            <string>{328,1728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa33cae268f0934791f475d0c01e1d71:ba9e9515169957ea8fec4a7ba5437d47:b785f67ae0c40437b59ad7e860279e53$</string>
            <key>textureFileName</key>
            <string>fish19.png</string>
        </dict>
    </dict>
</plist>
