<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish44_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{0,0},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{538,0},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{1076,0},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{0,330},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{538,330},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{1076,330},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{0,660},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{538,660},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{1076,660},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{0,990},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{538,990},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{1076,990},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{0,1320},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{538,1320},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish44_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,330}</string>
                <key>textureRect</key>
                <string>{{1076,1320},{538,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish44.png</string>
            <key>size</key>
            <string>{1614,1650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:015fe8162cb039b27899e64ec714b050:9987ce3a161116dcf746ccade531b249:1d4c3ab3a5f9203231fab1c5b1641c96$</string>
            <key>textureFileName</key>
            <string>fish44.png</string>
        </dict>
    </dict>
</plist>
