<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish23_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,346}</string>
                <key>spriteSourceSize</key>
                <string>{174,346}</string>
                <key>textureRect</key>
                <string>{{0,0},{174,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,346}</string>
                <key>spriteSourceSize</key>
                <string>{174,346}</string>
                <key>textureRect</key>
                <string>{{174,0},{174,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,346}</string>
                <key>spriteSourceSize</key>
                <string>{174,346}</string>
                <key>textureRect</key>
                <string>{{348,0},{174,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,346}</string>
                <key>spriteSourceSize</key>
                <string>{174,346}</string>
                <key>textureRect</key>
                <string>{{522,0},{174,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,346}</string>
                <key>spriteSourceSize</key>
                <string>{174,346}</string>
                <key>textureRect</key>
                <string>{{696,0},{174,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,346}</string>
                <key>spriteSourceSize</key>
                <string>{174,346}</string>
                <key>textureRect</key>
                <string>{{870,0},{174,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish23.png</string>
            <key>size</key>
            <string>{1044,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b0efcbee5f19e1566f43b813a99c7c5:bce70a2672cafc80c494ebd80fee1e15:94305ea5dd52a3cf0c2e9ef07ce7cfef$</string>
            <key>textureFileName</key>
            <string>fish23.png</string>
        </dict>
    </dict>
</plist>
