<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish7_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,69},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,138},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,207},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,276},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,345},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,414},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,483},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,552},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,621},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,690},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,759},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,828},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,897},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,966},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,1035},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,1104},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,1173},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,1242},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,1311},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,1380},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,1449},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,1518},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,69}</string>
                <key>textureRect</key>
                <string>{{0,1587},{128,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish7.png</string>
            <key>size</key>
            <string>{128,1656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52848f7932628249f938ebf1b7188653:d5c63bc41acdfd6191377aa3f434ee51:e1d69afd8a12d672623181966961c751$</string>
            <key>textureFileName</key>
            <string>fish7.png</string>
        </dict>
    </dict>
</plist>
