<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightning1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{0,50},{200,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{200,50},{200,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{400,50},{200,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{600,50},{200,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{994,110}</string>
                <key>spriteSourceSize</key>
                <string>{994,110}</string>
                <key>textureRect</key>
                <string>{{0,100},{994,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{994,110}</string>
                <key>spriteSourceSize</key>
                <string>{994,110}</string>
                <key>textureRect</key>
                <string>{{0,210},{994,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{994,110}</string>
                <key>spriteSourceSize</key>
                <string>{994,110}</string>
                <key>textureRect</key>
                <string>{{0,320},{994,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{994,110}</string>
                <key>spriteSourceSize</key>
                <string>{994,110}</string>
                <key>textureRect</key>
                <string>{{0,430},{994,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{994,110}</string>
                <key>spriteSourceSize</key>
                <string>{994,110}</string>
                <key>textureRect</key>
                <string>{{0,540},{994,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lightning.png</string>
            <key>size</key>
            <string>{994,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8c9b431949dfd1ffb991a9138048e46:3e7a86f03631016d4c56ec46970168e0:1446c58be034ff650ca9169a31662b4d$</string>
            <key>textureFileName</key>
            <string>lightning.png</string>
        </dict>
    </dict>
</plist>
