<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish8_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,140},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,280},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,420},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,560},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,700},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,840},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,980},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,1120},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,1260},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,1400},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish8.png</string>
            <key>size</key>
            <string>{70,1540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5e06db91b9a48e2750f7b0c68433d75:4da3d6633f9f07963fcbc8aba25483f8:09c34b7262caf05c834f0282eb0a1152$</string>
            <key>textureFileName</key>
            <string>fish8.png</string>
        </dict>
    </dict>
</plist>
