<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish15_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{0,150},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{300,150},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{600,150},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{0,300},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish15_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{300,300},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish15.png</string>
            <key>size</key>
            <string>{900,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2e2f4d0615a2299b6560cf3a9135a3b:82e4c47c91871c089de01a121fc6d9a0:c065125437a6ec0ea637ce3e58baaf06$</string>
            <key>textureFileName</key>
            <string>fish15.png</string>
        </dict>
    </dict>
</plist>
