<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{140,0},{70,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{0,35},{70,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{70,35},{70,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{140,35},{70,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{0,70},{70,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{70,70},{70,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{140,70},{70,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish2.png</string>
            <key>size</key>
            <string>{210,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8a27c92414670010e2a23b64bebb207:dfe4d34d1e5414baf61a6c125c65c71f:18d6e4b02826357f29e30fc69e5f3b7c$</string>
            <key>textureFileName</key>
            <string>fish2.png</string>
        </dict>
    </dict>
</plist>
