<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish20_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,191}</string>
                <key>spriteSourceSize</key>
                <string>{306,191}</string>
                <key>textureRect</key>
                <string>{{0,0},{306,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,191}</string>
                <key>spriteSourceSize</key>
                <string>{306,191}</string>
                <key>textureRect</key>
                <string>{{0,191},{306,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,191}</string>
                <key>spriteSourceSize</key>
                <string>{306,191}</string>
                <key>textureRect</key>
                <string>{{0,382},{306,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,191}</string>
                <key>spriteSourceSize</key>
                <string>{306,191}</string>
                <key>textureRect</key>
                <string>{{0,573},{306,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,191}</string>
                <key>spriteSourceSize</key>
                <string>{306,191}</string>
                <key>textureRect</key>
                <string>{{0,764},{306,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,191}</string>
                <key>spriteSourceSize</key>
                <string>{306,191}</string>
                <key>textureRect</key>
                <string>{{0,955},{306,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,191}</string>
                <key>spriteSourceSize</key>
                <string>{306,191}</string>
                <key>textureRect</key>
                <string>{{0,1146},{306,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,191}</string>
                <key>spriteSourceSize</key>
                <string>{306,191}</string>
                <key>textureRect</key>
                <string>{{0,1337},{306,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,191}</string>
                <key>spriteSourceSize</key>
                <string>{306,191}</string>
                <key>textureRect</key>
                <string>{{0,1528},{306,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish20_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,191}</string>
                <key>spriteSourceSize</key>
                <string>{306,191}</string>
                <key>textureRect</key>
                <string>{{0,1719},{306,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish20.png</string>
            <key>size</key>
            <string>{306,1910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:402e573dfc5b638bb2314894c342d5c7:5ceefb1cc18d44124c793bb7146ad381:c556f1867a5bbc986e163ecbcdfbbd8a$</string>
            <key>textureFileName</key>
            <string>fish20.png</string>
        </dict>
    </dict>
</plist>
