<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish24_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,168}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,168}</string>
                <key>textureRect</key>
                <string>{{180,0},{180,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,168}</string>
                <key>textureRect</key>
                <string>{{360,0},{180,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,168}</string>
                <key>textureRect</key>
                <string>{{540,0},{180,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,168}</string>
                <key>textureRect</key>
                <string>{{720,0},{180,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,168}</string>
                <key>textureRect</key>
                <string>{{900,0},{180,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,168}</string>
                <key>textureRect</key>
                <string>{{1080,0},{180,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,168}</string>
                <key>textureRect</key>
                <string>{{1260,0},{180,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,168}</string>
                <key>textureRect</key>
                <string>{{1440,0},{180,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish24_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,168}</string>
                <key>textureRect</key>
                <string>{{1620,0},{180,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish24.png</string>
            <key>size</key>
            <string>{1800,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef041d93c1163cdd40b5e78cb79463e0:f15e11427b19322a5065d82cd812015b:d734f0334f09cce9f6abe07eedb29a8c$</string>
            <key>textureFileName</key>
            <string>fish24.png</string>
        </dict>
    </dict>
</plist>
