<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish23_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,240}</string>
                <key>spriteSourceSize</key>
                <string>{192,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,240}</string>
                <key>spriteSourceSize</key>
                <string>{192,240}</string>
                <key>textureRect</key>
                <string>{{192,0},{192,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,240}</string>
                <key>spriteSourceSize</key>
                <string>{192,240}</string>
                <key>textureRect</key>
                <string>{{384,0},{192,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,240}</string>
                <key>spriteSourceSize</key>
                <string>{192,240}</string>
                <key>textureRect</key>
                <string>{{576,0},{192,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,240}</string>
                <key>spriteSourceSize</key>
                <string>{192,240}</string>
                <key>textureRect</key>
                <string>{{768,0},{192,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,240}</string>
                <key>spriteSourceSize</key>
                <string>{192,240}</string>
                <key>textureRect</key>
                <string>{{960,0},{192,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,240}</string>
                <key>spriteSourceSize</key>
                <string>{192,240}</string>
                <key>textureRect</key>
                <string>{{1152,0},{192,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish23_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,240}</string>
                <key>spriteSourceSize</key>
                <string>{192,240}</string>
                <key>textureRect</key>
                <string>{{1344,0},{192,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish23.png</string>
            <key>size</key>
            <string>{1536,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28d895a56e1e4fd73aa8661dd8dab3a1:56d07db3dd189cfeb586ece0f57cb3dc:94305ea5dd52a3cf0c2e9ef07ce7cfef$</string>
            <key>textureFileName</key>
            <string>fish23.png</string>
        </dict>
    </dict>
</plist>
