<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish14_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish14_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish14_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish14_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{0,150},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish14_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{300,150},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish14_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{600,150},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish14_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{0,300},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish14_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{300,300},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish14_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{600,300},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish14.png</string>
            <key>size</key>
            <string>{900,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9114f8d8a8b2a9046bf9451bc9f8b41a:f730578e78b252fb3025b8604c972bc5:cd7c44cf89d93d3e4427eb84c78402f8$</string>
            <key>textureFileName</key>
            <string>fish14.png</string>
        </dict>
    </dict>
</plist>
