<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish22_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{224,0},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{0,224},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{224,224},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{0,448},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{224,448},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{0,672},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{224,672},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{0,896},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{224,896},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{0,1120},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{224,1120},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{0,1344},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{224,1344},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{0,1568},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish22.png</string>
            <key>size</key>
            <string>{448,1792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eecbfe643377d933e143f1337c219072:a7bc2a8983d61d8a3294a7727eb2b569:86df722dd1cd1c369adc9cd3c987ec75$</string>
            <key>textureFileName</key>
            <string>fish22.png</string>
        </dict>
    </dict>
</plist>
