<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish13_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,176}</string>
                <key>spriteSourceSize</key>
                <string>{220,176}</string>
                <key>textureRect</key>
                <string>{{0,0},{220,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,176}</string>
                <key>spriteSourceSize</key>
                <string>{220,176}</string>
                <key>textureRect</key>
                <string>{{220,0},{220,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,176}</string>
                <key>spriteSourceSize</key>
                <string>{220,176}</string>
                <key>textureRect</key>
                <string>{{440,0},{220,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,176}</string>
                <key>spriteSourceSize</key>
                <string>{220,176}</string>
                <key>textureRect</key>
                <string>{{660,0},{220,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,176}</string>
                <key>spriteSourceSize</key>
                <string>{220,176}</string>
                <key>textureRect</key>
                <string>{{880,0},{220,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,176}</string>
                <key>spriteSourceSize</key>
                <string>{220,176}</string>
                <key>textureRect</key>
                <string>{{1100,0},{220,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,176}</string>
                <key>spriteSourceSize</key>
                <string>{220,176}</string>
                <key>textureRect</key>
                <string>{{1320,0},{220,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,176}</string>
                <key>spriteSourceSize</key>
                <string>{220,176}</string>
                <key>textureRect</key>
                <string>{{1540,0},{220,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish13.png</string>
            <key>size</key>
            <string>{1760,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:317205bab461d409b57d81c1980e5d49:d05607e547c52b95c804debc0a6cb281:a833a03b0e574b955812b1528efeab52$</string>
            <key>textureFileName</key>
            <string>fish13.png</string>
        </dict>
    </dict>
</plist>
