<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish9_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{103,0},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{206,0},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{309,0},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{412,0},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{515,0},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{618,0},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{721,0},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish9.png</string>
            <key>size</key>
            <string>{824,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76dc7fd389b31df72ddbb99e6e27104c:80faf859ce9b4ba919e023d05f15eed9:ff7482c0f1a9603ba7f5d62e3c2de0e7$</string>
            <key>textureFileName</key>
            <string>fish9.png</string>
        </dict>
    </dict>
</plist>
