<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish17_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,329}</string>
                <key>spriteSourceSize</key>
                <string>{193,329}</string>
                <key>textureRect</key>
                <string>{{0,0},{193,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,329}</string>
                <key>spriteSourceSize</key>
                <string>{193,329}</string>
                <key>textureRect</key>
                <string>{{193,0},{193,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,329}</string>
                <key>spriteSourceSize</key>
                <string>{193,329}</string>
                <key>textureRect</key>
                <string>{{0,329},{193,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,329}</string>
                <key>spriteSourceSize</key>
                <string>{193,329}</string>
                <key>textureRect</key>
                <string>{{193,329},{193,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,329}</string>
                <key>spriteSourceSize</key>
                <string>{193,329}</string>
                <key>textureRect</key>
                <string>{{0,658},{193,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,329}</string>
                <key>spriteSourceSize</key>
                <string>{193,329}</string>
                <key>textureRect</key>
                <string>{{193,658},{193,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,329}</string>
                <key>spriteSourceSize</key>
                <string>{193,329}</string>
                <key>textureRect</key>
                <string>{{0,987},{193,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,329}</string>
                <key>spriteSourceSize</key>
                <string>{193,329}</string>
                <key>textureRect</key>
                <string>{{193,987},{193,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,329}</string>
                <key>spriteSourceSize</key>
                <string>{193,329}</string>
                <key>textureRect</key>
                <string>{{0,1316},{193,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,329}</string>
                <key>spriteSourceSize</key>
                <string>{193,329}</string>
                <key>textureRect</key>
                <string>{{193,1316},{193,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,329}</string>
                <key>spriteSourceSize</key>
                <string>{193,329}</string>
                <key>textureRect</key>
                <string>{{0,1645},{193,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish17.png</string>
            <key>size</key>
            <string>{386,1974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d17b0b48d93e9c66b07b5a7e6139858:1a5bba258e55756dce15c99ea8d3686a:ebe65095414f9a69d45d0be1bd8d76fb$</string>
            <key>textureFileName</key>
            <string>fish17.png</string>
        </dict>
    </dict>
</plist>
